<section class="petition">
    <header class="petition-header">
        <h1 class="petition-title">Those Also Signed!</h1>
    </header>

    <footer class="petition-footer">
        {{#signers}}
            {{#if city}}
                {{!-- {{#signers}} --}}
                <ul>
                    <li><a href="{{homepage}}">{{firstname}} {{lastname}}</a>
                        Age:
                        {{age}}
                        City:
                        <a href="/signers/{{city}}">{{city}} </a></li>
                </ul>
                {{!-- {{/signers}} --}}
            {{/if}}
        {{/signers}}
    </footer>

</section>

{{!-- {{#signers}}
        <ul>
            <li><a href="{{homepage}}"> {{firstname}} {{lastname}} </a>
                <br />
                <a href="signers/{{city}}"> {{city}} </a>
                {{age}}
            </li>
        </ul>
    {{/signers}} --}}