<section class="petition">
    <header class="petition-header">
        <h1 class="petition-title">Those Also Signed!</h1>
    </header>

    <footer class="petition-footer">
        {{#signers}}
            <ul>
                <li><a href="{{homepage}}"> {{firstname}} {{lastname}} </a>
                    {{city}}
                    {{age}}
                </li>
            </ul>
        {{/signers}}
    </footer>
</section>